/**
 * FontAwesome icons
 */

[class*="fa--"]
  font-family FontAwesome
  font-size 1em
.fa
  &--zip:before
    content "\f1c6"
  &--video:before
    content "\f03d"
  &--processing:before
    content "\f1ce"
  &--copy:before
    content "\f0ea"
  &--check:before
    content "\f00c"
  &--link:before
    content "\f0c1"
  &--file:before
    content "\f15b"
  &--play:before
    content "\f04b"
  &--pause:before
    content "\f04c"
  &--reset:before
    content "\f01e"
  &--star:before
    content "\f005"
  &--close:before
    content "\f0d7"
  &--open:before
    content "\f0d8"
  &--user:before
    content "\f2c0"
  &--radio-on:before
    content "\f111"
  &--radio-off:before
    content "\f10c"
  &--download:before
    content "\f019"
  &--down:before
    content "\f1c8"
  &--chat:before
    content "\f0e6"
  &--square:before
    content "\f096"
  &--approve:before
    content "\f046"
  &--cross:before
    content "\f146"
  &--alert:before
    content "\f071"
  &--spinner:before
    content "\f110"
  &--plus:before
    content "\f067"
  &--reduce:before
    content "\f068"